.primary-header{
	background:white;

}

.logo{
	display:inline;
	width:5%;
	height:5%;
	margin-left:2%;
}
.buttonList{
	display:inline;
	float:right;
	margin-top:1%;
	width:75%;

}
.buttonList a{
	float:right;
	margin-left:1%;
	margin-right:1%;
	text-decoration:none;
	color:#c12026;
	font-weight:bold;
	font-size:12px;
	border:1.5px solid white;
	border-radius:2px;
}
.rounded{
	border:1.5px solid #c12026 !important;
	border-radius:2px;
	padding-left:2%;
	padding-top:2px;
	padding-bottom:2px;
	padding-right:2%;
	position:relative;
}
.separator{
	padding-left:5px;
	border-left: 1px solid #c12026;
}

