.secondary-header{
	background-color:#c12026;
	padding:1%;
}
.errspan {
	float: left;
	margin-right: 6px;
	margin-top: -20px;
	position: relative;
	z-index: 2;
	color: red;
}
.search{
	text-align:center;
}
#go,#query,#categories,#locations{
	margin-left:1%;
	border-radius:5px;
	padding:5px;
	
}
#go{
	background-color:#c12026;
	border: 2px solid white;
	color:white;
	border-radius:2px !important;
	margin-left:3%;
}